<div class="jumbotron">
  <h1>Bank of Blockchain</h1>
  <h2>Sign-up in less than a minute</h2>
  <button type="submit" class="btn btn-lg btn-success" ng-click="bank.signUp()">Create New Account!</button>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Easy</h2>
          <p>Creating a new account is easy using the Distributed ID platform. </p>
        </div>
        <div class="col-md-4">
          <h2>Secure</h2>
          <p>Distributed ID allows you to control who has access to your personal data and under what conditions. </p>
       </div>
        <div class="col-md-4">
          <h2>Fast</h2>
          <p>Get verified once and use that forever. Create a new bank account in two clicks. </p>
        </div>
      </div>

       <footer>
        <p>&copy; Bank of Blockchain 2016</p>
      </footer>