<div class="jumbotron" ng-if="!main.identity.privateKey">
  <h1>Welcome to ObjectChain</h1>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" id="email" type="text" ng-model="main.identity.email"/>
  </div>
  <div class="form-group">
    <label for="passphrase">Passphrase</label>
    <input class="form-control" id="passphrase" type="text" ng-model="main.identity.privateKeyPassphrase"/>
  </div>

  <button type="submit" class="btn btn-lg btn-success" ng-click="main.generateKey()">Generate key!</button>
</div>

<div class="container">
   <div class="col-lg-6">
      <h4>PGP key</h4>
      <ul>
        <li>UserId : {{main.identity.privateKey.getPrimaryUser().user.userId.userid}}</li>
        <li>Fingerprint : {{main.identity.privateKey.primaryKey.fingerprint}}</li>
      </ul>
      <h4>Ethereum</h4>
      <ul>
        <li>Key hash: {{main.identity.keyStore.keyHash}}</li>
        <li>Address: {{main.identity.getAddress()}}</li>
        <li>Contract: {{main.identity.contractAddress}}</li>
      </ul>
      <button class="btn btn-sm btn-danger" ng-click="main.deleteKey()" ng-if="main.identity.privateKey">Delete key</button>
      <button class="btn btn-sm btn-primary" ng-click="main.createIdentity()">Create identity</button>
      <button class="btn btn-sm btn-danger" ng-click="main.createIdentity()">Delete identity</button>
  </div>
 <div class="col-lg-6">
    <h4>Your balance</h4>
    {{main.balance()}}
</div>
