/*.navigation {
  padding-top: 8px;
  border-bottom: 1px solid #ccc;
  height: 40px;
}
.navigation-active {

}
*/
html,
body .container {
  min-height: 100%;
}
h4 {
  font-size: 12pt;
}
h5 {
  font-size: 10pt;
}
.navbar {
  background-color: white !important;
  margin-bottom: 0px;
  height: 53px;
  text-align: center;
}
.navbar .container ul li a {
  background-color: #fff !important;
}
.navbar .container ul li.active a {
  border-bottom: 2px solid #111;
}
.leftnav {
  padding-top: 35px;
}
.leftnav img {
  width: 75%;
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
  margin-right: 10px;
}
.leftnav .link a {
  color: black;
  font-size: 10pt;
}
.leftnav .active {
  font-weight: bold;
  background-color: #f2f2f2;
}
.rightpanel {
  padding-top: 30px;
  border-left: 1px solid #dadada;
  /*margin-top: 17px;*/
  min-height: 100% !important;
}
.rightpanel h4 {
  margin-top: 0px;
}
.section,
.assertion {
  /*margin-top: 2px;*/
  padding-bottom: 20px;
  border-top: 1px solid #fff;
  min-height: 85px;
}
.section a.edit,
.assertion a.edit {
  font-size: smaller;
  color: #317090;
}
.section a.edit :hover,
.assertion a.edit :hover {
  cursor: pointer;
}
.greybottom {
  border-bottom: 1px solid #dadada;
}
.assertionedit {
  background-color: #f2f2f2;
  border-top: 1px solid #dadada;
  /*border-bottom: 1px solid @grey;*/
}
