<style>
  .info-container {
    background: transparent !important;
  }
  .leftnav {
    display: none;
  }
  .rightpanel {
    width: 100% !important;
    background: transparent !important;
    padding: 0;
  }
</style>

<div class="container" >
  <div class="grant-access" >

      <img src="/images/logo.png" alt="" class="logo">

      <h3>Continue to Acro Bank <span ng-if="identity.assertions[1]">as {{identity.assertions[1]}}</span></h3>

      <div class="profile-image" ng-if="!identity.assertions[7]">
        <img src="/images/no-user.png" alt="" class="">
      </div>

      <div class="profile-image" ng-if="identity.assertions[7]">
        <img ng-src="{{identity.assertions[7]}}" alt="" class="">
      </div>

      <!-- Present assertions -->
      <div class="col-lg-12 assertions" ng-if="identity.presentAssertionTypes().length > 0">
        <b>Acro Bank</b> will receive the following information:<br>
        <span ng-repeat="item in identity.presentAssertionTypes()">{{helpers.assertionLabelById(item)}}</span>
      </div>

       <!-- Missing -->
      <div class="col-lg-12 assertions" ng-if="identity.missingAssertionTypes().length > 0">
        <b>The following assertions are requested, but not present on your identity:<br></b>
        <span ng-repeat="item in identity.missingAssertionTypes()">{{helpers.assertionLabelById(item)}}</span>
      </div>

      <div class="col-lg12 text-center">
        <button class="btn btn-primary btn-lg"
                ng-click="identity.grantRequest()"
                ng-if="!progressbar.active() && identity.missingAssertionTypes().length == 0">Continue</button>
        <button class="btn btn-primary btn-lg"
                ng-click="identity.addMissingAssertions()"
                ng-if="identity.missingAssertionTypes().length > 0">Add missing assertions</button>
        <p><button class="btn btn-link btn-sm" >Cancel</button></p>

      </div>

      <footer>
        <span>Terms and Conditions</span>
        <span>Privacy Policy</span>
      </footer>

  </div>
</div>

<div class="modal-backdrop in"></div>

