<div class="container-fluid" >
  <div class="row section">
      <h4>Grant access to your digital identity.</h4>
    <!-- Present assertions -->
    <div class="col-lg-12" ng-if="identity.presentAssertionTypes().length > 0">
      <h5><b>{{identity.request.requestee}}</b> has requested access to the following assertions:</h5>
      <ul class="fa-ul">
        <li ng-repeat="item in identity.presentAssertionTypes()">
          <i class="fa-li fa fa-check-square success"></i>
          {{helpers.assertionLabelById(item)}}
        </li>
      </ul>
    </div>
    <!-- Missing -->
    <div class="col-lg-12" ng-if="identity.missingAssertionTypes().length > 0">
      <h5>The following assertions are requested, but not present on your identity:</h5>
      <ul class="fa-ul">
        <li ng-repeat="item in identity.missingAssertionTypes()">
          <i class="fa-li fa fa-question warning"></i>
          {{helpers.assertionLabelById(item)}}
        </li>
      </ul>
    </div>

    <div class="col-lg12 text-right">
      <button class="btn btn-primary btn-sm"
              ng-click="identity.grantRequest()"
              ng-if="!progressbar.active() && identity.missingAssertionTypes().length == 0">Grant</button>
      <button class="btn btn-primary btn-sm"
              ng-click="identity.addMissingAssertions()"
              ng-if="identity.missingAssertionTypes().length > 0">Add missing assertions</button>

    </div>

  </div>

</div>

