<nav class="navbar navbar-default">
  <div class="container">
     <ul class="nav navbar-nav nav-left">
        <li ng-class="{active: $state.current.activetab == 'myidentity'}"><a href="" ui-sref="id.personal">My Identity</a></li>
        <li ng-class="{active: $state.current.activetab == 'bank'}"><a href="">Access</a></li>
        <li ng-class="{active: $state.current.activetab == 'bank'}"><a href="">Signatures</a></li>
        <li ng-class="{active: $state.current.activetab == 'settings'}"><a href="" ui-sref="id.settings">Settings</a></li>
    </ul>
  </div>
</nav>
