<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">ObjectChain</a>
          </div>


            <ul class="nav navbar-nav">
              <li ng-class="{active: $route.current.activetab == 'bank'}"><a ng-href="/#/bank">Bank</a></li>
              <li ng-class="{active: $route.current.activetab == 'main'}"><a href="/#/">Account</a></li>
              <li ng-class="{active: $route.current.activetab == 'assert'}"><a ng-href="/#/assert">Assert</a></li>
              <li ng-class="{active: $route.current.activetab == 'sign'}"><a ng-href="/#/sign">Sign</a></li>

              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Identities <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="value in identities"><a ng-click="selectIdentity(value)">{{value}}</a></li>
                  </ul>
                </li>
            </ul>
            <i ng-if="loading" class="fa fa-refresh fa-spin fa-2x"></i>




        </div>
      </div>
    </div>
    <div class="container">
      <!-- <div ng-view=""></div> -->
      <ui-view/>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bignumber.js/bignumber.js"></script>
    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <script src="bower_components/crypto-js/aes.js"></script>
    <script src="bower_components/crypto-js/enc-base64.js"></script>
    <script src="bower_components/web3/dist/web3.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/openpgp/dist/openpgp.js"></script>
    <script src="bower_components/eth-lightwallet/dist/lightwallet.min.js"></script>
    <script src="bower_components/hooked-web3-provider/build/hooked-web3-provider.js"></script>
    <script src="bower_components/ngprogress/build/ngProgress.js"></script>
    <script src="bower_components/hex-strings/hex-strings.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/ethereum.js"></script>
        <script src="scripts/services/identity.js"></script>
        <script src="scripts/services/web3.js"></script>
        <script src="scripts/controllers/assert.js"></script>
        <script src="scripts/services/cryptowrapper.js"></script>
        <script src="scripts/controllers/bank.js"></script>
        <script src="scripts/services/identitycontract.js"></script>
        <script src="scripts/controllers/sign.js"></script>
        <script src="scripts/services/verify.js"></script>
        <!-- endbuild -->
</body>
</html>
