<div class="panel panel-default" ng-if="selectedIdentity">
  <div class="panel-heading">
    Assertions
  </div>
  <!-- Form -->
  <div class="panel-body" ng-if="!identity.assertionsPending">
    <div ng-repeat="assertionType in assertionTypes" >
      <div class="row">
        <div class="col-lg-3">
          <label for="type">{{assertionType.label}}</label>
        </div>
        <div class="col-lg-3">
          <input type="text" ng-model="identity.assertions[assertionType.id]" ng-change="identity.changed(assertionType)"/>
        </div>
        <div class="col-lg-1" ng-if="identity.isChanged(assertionType)">
          <i class="fa fa-undo" ng-click="identity.read(assertionType)"></i>
          <!-- <button type="button" class="btn btn-danger btn-sm" >Reset</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Loading bar -->
<!--   <div class="panel-body" ng-if="identity.assertionsPending">
    <p>Please wait while the changes are saved.</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
      </div>
    </div>
  </div>
 -->
  <!-- Footer -->
<!--   <div class="panel-footer" ng-if="!identity.assertionsPending">
    <button type="button" class="btn btn-primary btn-sm" ng-click="identity.assert()" ng-disabled="!identity.hasChangedKeys()">Assert</button>
  </div>
  </div>
 -->

<!-- <div class="container" ng-if="!selectedIdentity">
  Please select an identity.
<div>
 -->
