<div class="jumbotron" ng-if="!selectedIdentity">
  <h1>Welcome to ObjectChain</h1>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" id="email" type="text" ng-model="main.email"/>
  </div>
  <div class="form-group">
    <label for="passphrase">Passphrase</label>
    <input class="form-control" id="passphrase" type="text" ng-model="main.passphrase"/>
  </div>

  <button type="submit" class="btn btn-lg btn-success" ng-click="main.generateIdentity()">Generate identity!</button>
</div>


<!-- Grants -->
<div class="panel panel-default" ng-repeat="grant in main.grants" ng-if="selectedIdentity">
  <div class="panel-heading">
    {{grant.requestee}} has access to
  </div>
  <div class="panel-body">
    <ul>
      <li ng-repeat="assertion in grant.assertions">{{helpers.assertionLabelById(assertion)}}</li>
    </ul>
  </div>
</div>

<!-- <div class="panel panel-default" ng-if="selectedIdentity">
  <div class="panel-heading">
    Transfer ether
  </div>
  <div class="panel-body">
    <div class="form-group col-xs-4">
      <label for="toAddress" class="sr-only"></label>
      <input class="form-control " id="toAddress" type="text" ng-model="main.toAddress" placeholder="Recipient"/>
    </div>
    <div class="form-group col-xs-4">
      <label for="amount" class="sr-only"></label>
      <input class="form-control col-xs-6" id="amount" type="text" ng-model="main.amount" placeholder="Amount"/>
    </div>
    <div class="form-group col-xs-4">
      <button class="btn btn-sm btn-primary" ng-click="main.send(main.toAddress, main.amount)">Send Funds</button>
    </div>
  </div>
</div> -->
