<div class="container">
  <div class="row">
  <h4>Select identities</h4>
  <div class="form-group">
    <label for="bankid">Bank Identity</label>
    <select ng-model="bank.bankIdentity" ng-options="id for id in identities"/>
  </div>
  <div class="form-group">
    <label for="bankid">Client Identity</label>
    <select ng-model="bank.clientIdentity" ng-options="id for id in identities"/>
  </div>
  <button class="btn btn-primary" ui-sref="bank.identities" ng-if="bank.bankIdentity && bank.clientIdentity">Next</button>
  <div>
</div>
