<span ng-if="bank.grantedAssertions.length < 2">
    <p>You can now signup using your digital id.</p>
    <p>Bitbank will now redirect to your digital id provider and request the following assertions required to create your account.</p>
    <button class="btn btn-primary btn-sm" ui-sref="id.request({requestee:bankIdentity.email, assertionTypes:[1,2,3,4,5,6], description:'BitBank' })">Next</button>
</span>

<span ng-if="bank.grantedAssertions.length >= 2">
    <p>Bitbank now has access to the following assertions</p>
    <ul>
      <li ng-repeat="assertion in bank.grantedAssertions">
        <strong>{{helpers.assertionLabelById(assertion.assertionType)}}</strong>
        {{assertion.value}}
    </ul>
</span>
